#root {
  position: fixed;
  top: 0;
  left: 0;
  height: 105%;
  overflow: scroll;
  color: black;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

@font-face {
  font-family: spotifyBold;
  src: url("./fonts/CircularSpotify-UI-Latin-OS2v3-Bold.woff2") format('woff2');
}

p {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: italic;
}


.headerContainer {
  position: relative;
  width: 100vw;
  height: 40px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.headerContainer>.headerFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 50px;
}

.sticky {
  flex-grow: 0;
  max-width: 500px;
  left: unset;
  position: sticky;
  top: -1px;

}

div:has(.sticky) {
  position: sticky;
  top: -1px;
  background: rgba(255, 255, 255, 0);
  transition: box-shadow 0.5s;
  z-index: 100;
}

.is-pinned {
  background: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(15px);
  box-shadow: 0px 18px 25px -12px rgba(0, 0, 0, 0.4);
}

.grow {
  flex-grow: 1;
  max-width: 800px;
}

.headerContainer>.headerFlex>.icon {
  position: relative;
  width: 50px;
}

.background {
  position: fixed;
  z-index: -10;
  width: 100vw;
  height: 200vh;
  top: 0;
  left: 0;
  background: white;
}



.Link {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 14px;
}

.content {
  position: relative;
  left: 0px;
  width: 100%;
  height: max-content;
}

.centerFlex {
  position: absolute;
  width: 100%;
  align-items: center;
  left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  box-sizing: border-box;
  padding: 100px;
  padding-top: 0;
}

.headerTitle {
  font-weight: 400 !important;
  font-style: italic !important;
  font-size: 20px;
}

.headerSubtitle {
  background: rgb(116, 182, 181);
  border-radius: 40px;
  box-sizing: border-box;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  margin-top: 5px;
}

.section {
  width: 100%;
  height: auto;
  min-height: 640px;
  position: relative;
  overflow: visible
}

.iconAnimation {
  top: 40px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  animation: iconIn cubic-bezier(.52, .52, .17, 1) 3s forwards;
}

@keyframes iconIn {
  0% {
    width: calc(80%);
    opacity: 0;
    filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.4));
  }

  100% {
    width: 100px;
    opacity: 1;
    filter: drop-shadow(5px 5px 6px rgb(0 0 0 / 0.4));


  }
}

.iconSubtext {
  width: 100%;
  position: relative;
  margin-top: 40px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  color: rgba(100, 100, 100, 1);
  animation: iconTextIn linear 3s forwards;
  font-family: "spotifyBold";
}

@keyframes iconTextIn {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}

.sectionHeader {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  font-style: normal;
  font-weight: bold;
  font-family: "spotifyBold";
  filter: drop-shadow(1px 7px 7px rgb(0 0 0 / 0.4));

}

.gradientBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(145deg, rgba(75, 238, 143, 0.9) 0%, rgba(75, 238, 128, 0.9) 15%, rgba(116, 182, 176, 1) 100%);
  backdrop-filter: blur(30px);
}

.divlowerhalf {
  position: absolute;
  top: 50%;
  left: 0;
  width: auto;
  height: 100%;
  animation: iconInlowerHalf cubic-bezier(.52, .52, .17, 1) 4s forwards
}


@keyframes iconInlowerHalf {
  0% {
    transform: translateY(100%);
  }

  40% {
    transform: translateY(100%);

  }

  100% {
    transform: translateY(0px);

  }
}

.verticalScroll {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px
}

.phoneDisplay {
  position: relative;
  height: auto;
  width: 300px;
  overflow: visible
}

.phoneDisplay>:nth-child(1) {
  width: 400px;
  position: absolute;
  top: 0;
  left: 0
}

.phoneDisplay>:nth-child(2) {
  width: 212px;
  transform: translate(17px, 13px);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px
}


.centerText {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionHeaderCompact {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  font-style: normal;
  font-weight: bold;
  font-family: "spotifyBold";
}

.sectionText {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-family: "spotifyBold";
}

.bulitin::before {
  content: "- "
}

#fadeOnScrollView {
  opacity: 0;
  transition: 1s
}

.fadeIn {
  opacity: 1 !important;
  transform: translateY(-30px)
}

.fadeIn.delay0 {
  transform: unset !important;
}

.fadeIn.delay300 {
  transform: unset !important;
}

.fadeIn.delay600 {
  transform: unset !important;
}

mark {
  background: transparent !important;
  color: #676087;
  font-style: bold;
  font-weight: 700;
  transform: translateY(0px)
}


.flexGrid {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.smallSection {
  min-height: 400px !important;
  height: auto !important;
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0
}

.footer {
  height: 200px !important;
  min-height: unset;

}

.footer:has(.section)>.section {
  min-height: 200px !important;
  height: auto;
}

.footer>.section>.footerFlex {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer>.section>.footerFlex>div {
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  width: auto;
  max-width: 33%;
}

.footer>.section>.footerFlex>div>img {
  width: clamp(100px, 200px, 300px);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.textrowdivfooter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-evenly;
}

.textrowdivfooter>p {
  line-height: 10px;
  padding: 0 !important;
  margin: 0 !important;
}

.gridInfoThing>div>p:nth-child(3) {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: light;
  font-family: "proxima-nova", sans-serif;
  text-align: left;
  padding: 0;
  margin: 0;
}

.gridInfoThing>div>p:nth-child(1) {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  font-family: "spotifyBold";
  padding: 0;
  margin: 0;
}

.gridInfoThing>div>p:nth-child(2) {
  width: 100%;
  position: relative;
  text-align: left;
  font-size: 30px;
  text-wrap: wrap;
  max-width: 200px;
  margin: 0 !important;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-family: "spotifyBold";
}

.gridInfoThing>div>.Link {
  border-radius: 40px;
  border: none;
  width: max-content !important;
  font-weight: bold;
  box-sizing: border-box;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(116, 182, 181);
  border-radius: 40px;
  box-sizing: border-box;
  color: white;
  font-style: normal;
  cursor: pointer;
}

.delay300 {
  transition-delay: 600ms;
}

.delay600 {
  transition-delay: 1200ms;
}

.gridInfoThing>div {
  display: flex;
  flex-direction: column;
}

.canvasContainer {
  position: absolute;
  width: 100vw;
  height: 70vh;
  top: 0px;
  left: 0;
  z-index: -1;
  transform: translateX(30%);
}

.columnContainer {
  position: relative;
  top: 0;
  left: clamp(0, 300px, 300px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: auto;
  max-width: 80%;
  left: 5%;
  overflow: hidden;
  border-radius: 10px;
}

.columnContainer>div {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  max-width: 250px;
}

.columnBlock {
  width: 100%;
  height: auto;
}

.backgroundCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -100
}

.edge>.columnBlock {}

.edge>.columnBlock>p {
  width: calc(100% - 20px);
  padding-right: 20px;
  box-sizing: border-box;
  text-align: right;
  font-weight: bold
}




.free>.columnBlock>p {
  width: calc(100%);
  box-sizing: border-box;
  text-align: center;
  font-weight: normal;
}

.columnBlock {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.premium>.columnBlock>p {
  width: calc(100%);
  box-sizing: border-box;
  text-align: center;
  font-weight: normal;
}

.bold {
  font-weight: bold !important;
}

.downloadContainer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  gap: 150px;
}

.downloadContainer {
  position: relative;
  width: 50%
}

.downloadContainer>div>img {
  width: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.badges {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.badges>img {
  height: 60px;
  cursor: pointer;
}

.downloadTitle {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}


.downloadTitle {
  position: relative;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}


.downloadContainer>div>p {
  position: relative;
  width: 100%;
  text-align: center;
}

.downloadButton {
  border-radius: 40px;
  border: none;
  width: max-content !important;
  font-weight: bold;
  box-sizing: border-box;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(116, 182, 181);
  border-radius: 40px;
  box-sizing: border-box;
  color: white;
  font-style: normal;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
}

.leftText>* {
  text-align: left !important;
  left: 33% !important;
  transform: translateX(-10%) !important;
  font-size: 2rem
}